@{
    ViewBag.Title = "DemoEmbed";
}
@*<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>*@
@*<link rel="stylesheet" type="text/css" media="all" href="~/Content/bootstrap.css" />*@
               
<button class="btn btn-primary" onclick="cms_Uploadimage_ShowNews(myCallBack)">
    Upload</button>
@*55675,58079*@
 @*<div id="cms-uploadimage" class="modal hide fade in cms-upload-body-popup" style="display: none;"  siteid = "1" categoryid="42" productid = "42186" username="administrator" module="1" ></div>*@
<div id="cms-uploadimage" class="modal hide fade in cms-upload-body-popup" style="display: none"  siteid = "1" categoryid="42" productid = "49670" username="administrator" module="0" ></div>

 @*module = 0 : product   module = 1 : news, module =2:game*@
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * 49562 41779*/
      var tgdd_cms_urlroot ='@ViewBag.UrlUpload';
      
      (function () {
          var tgddcms = document.createElement('script');
          tgddcms.type = 'text/javascript';
          tgddcms.async = true;
          tgddcms.src = tgdd_cms_urlroot + '/Scripts/js.upload.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(tgddcms);
      })();
     
</script>
<script type="text/javascript">
function myCallBack(tagimg)
{
    alert(tagimg);
}
</script>

