<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	 
  <connectionStrings> 
		  <clear/>
		  <add name="LoginConnectionString" connectionString="Data Source=10.1.12.210\sql2005,1462;Initial Catalog=EWorking;User ID=Eworking;Password=246Ew0rking357" providerName="System.Data.SqlClient"/>
		  <!--<add name="LoginConnectionString11111" connectionString="Data Source=115.78.131.151\sql2005,42162;Initial Catalog=EWORKING;User ID=Eworking;Password=246Ew0rking357" providerName="System.Data.SqlClient"/>-->
		  <add name="CRMConnectionString" connectionString="Data Source=10.1.12.210\sql2005;Initial Catalog=EWorking;User ID=sa;Password=246Ew0rking357" providerName="System.Data.SqlClient"/>
		 
		  <add name="OraAspNetConString" connectionString="Data Source=10.1.12.210:1521/itdb2.thegioididong.com;User ID=TGDD_NEWS;Password=tgdd_news;"/>
		  <add name="DaretoleadConnectionString" connectionString="Data Source=10.1.12.205:1521/oradb1.thegioididong.com;User ID=TGDD_NEWS;Password=tgdd_news;"/>

<!--<add name="ConnectionString0" connectionString="Data Source=10.1.12.205:1521/oradb1.thegioididong.com;User ID=TGDD_NEWS;Password=tgdd_news;"/>-->
	  <add name="ConnectionString" connectionString="Data Source=10.1.12.199:1521/oradb4.thegioididong.com;User ID=tgdd_news;Password=tgdd_news;"/>
    <!--<add name="ConnectionString" connectionString="Data Source=10.1.12.138:1521/oraetown.thegioididong.com;User ID=tgdd_news;Password=44662288"/>-->
    <!--<add name="ConnectionString1" connectionString="Data Source=222.255.236.152:23215/oradc.thegioididong.com;User ID=TGDD_NEWS;Password=otlp09$33WEP" />-->
	  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="CachingDefaultTimeout" value="30"/>
    <add key="CMS.WebService.URL" value="http://testwebservice.thegioididong.com/cmsservice/" />
    
    <add key="CMS.Product.URL" value="http://10.1.4.210/TGDD.Web.CMS.Services/" />
    <add key="WebService.URL" value="http://testwebservice.thegioididong.com/" />
    <add key="CRM.EmailService.URL" value="http://10.1.7.212:4871/emailservices/CRMEmailServices.asmx" />
    <add key="CMS.PreviewURL" value="http://www.test.thegioididong.com" />
    <add key="APIKey" value="gos63TdTvZTcSI82RRZZnvNQSFmU4lT3" />
  </appSettings>
  <system.web>
	  
	  
	  <httpRuntime requestValidationMode="2.0" maxRequestLength="100000" />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880" /> requireSSL="false"-->
      <forms loginUrl="~/Account/LogOn" timeout="2880" name="TGDDLOGIN" protection="All" cookieless="UseCookies" enableCrossAppRedirects="false"
    domain="cms.tgdd.com" requireSSL="false" path="/UploadCMS"/> 
    </authentication>
   
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />

		
      </namespaces>
    </pages>
    <!--<machineKey decryptionKey="85E67970897B7001F06F08A5316EA3446A56C12463494505,IsolateApps" validationKey="57FDF52A0A28964673C3CB2899E1DD5E19B456CEEEFBD5B4007CA59C00EDCF7DFF7C8336794C2A5E0DE5E91E6E497C1119D2B0982DBE04E1DC80A16ECBF2ADF9,IsolateApps" />-->
    <!--<machineKey  validationKey="C9FCB2068D816D1A253241FD90C5C9074A9BADAAE3414BE3A985924A2F1C573FCE87279CE0E08F83DEEFB6A0B918AED0D547B646174ADCA40B5CE1B698FF38C1" decryptionKey="25B0EEFA136D0F6ECA80DE46551D950A895D182C599FB7F1FA719437319415A8" validation="SHA1" decryption="AES" />-->


    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile> 
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
  </system.web>
  <system.webServer>
	
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
</configuration>
