@using cms.business;
@using cms.business.com.dienmay.crmservices;

@{
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
@section META_INC
{
    <title>Tạo mật khẩu mới</title>
}
@section JS_INC
{
    <script>
        $(document).ready(function () {

            // Location
            $('#site-header #user-zone .user-location a.location').click(function (event) {
                event.preventDefault();
                $('#site-header #user-zone .user-location .select-location-wrapper').css('display', 'block');
            })

            $('#site-header #user-zone .user-location .select-location-wrapper').mouseover(function () {
                $(this).css('display', 'block');
            }).mouseout(function () {
                $(this).css('display', 'none');
            });

            // Site search
            $('#site-header #site-search .form .input-wrapper input').click(function () {
                $('#site-header #site-search .form .search-suggestion-wrapper').css('display', 'block');
            })

            $('#site-header #site-search .form .search-suggestion-wrapper').mouseover(function () {
                $('#site-header #site-search .form .search-suggestion-wrapper').css('display', 'block');
            }).mouseout(function () {
                $('#site-header #site-search .form .search-suggestion-wrapper').css('display', 'none');
            });

            // User Menu
            $('#site-header #user-zone .user-account-wrapper .user-avatar a, #site-header #user-zone .user-account-wrapper .user-account a').click(function () {
                $('#site-header #user-zone .user-account-wrapper .user-avatar .user-menu-wrapper').toggle();
            })

        });
    </script>
    <script src="~/Scripts/jquery.newshome.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
    <script src="~/Scripts/NewsDetail.min.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
    <script src="~/Scripts/LoginUser.min.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
}


<div id="fb-root"></div>

<input type="hidden" value="215" id="hfCatID" />

<div class="main-left-wrapper" style="vertical-align: bottom; width: 50%;">
    <div class="containpresentpage">
        <div class="title">Kết nối với cộng đồng công nghệ số 1 Việt Nam với hơn @ViewBag.CountForumMember thành viên năng động.</div>
        <div class="containsubpresent">
            <div class="present">
                <div class="iconworld"></div>
                <div class="titlepresent">Tham gia cộng đồng tư vấn, chia sẻ công nghệ</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="icontakepic"></div>
                <div class="titlepresent">Chia sẻ hình ảnh, cảm nhận, trải nghiệm bản thân</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="iconnewsnew"></div>
                <div class="titlepresent">Cập nhật nhanh công nghệ mới</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="icontransport"></div>
                <div class="titlepresent">Theo dõi đơn hàng</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="iconpointsbonus"></div>
                <div class="titlepresent">Tích lũy điểm thưởng</div>
            </div>
        </div>
    </div>
</div>
<div class="main-right-wrapper" style="vertical-align: bottom; width: 40%;">
    <div class="loginform">
        <div class="titleLogin">Thành viên đăng nhập</div>

        <div class="user-info clearfix" style="padding: 10px; padding-top: 20px;">
            @using (Html.BeginForm("CreatePasswordComplete", "Common", FormMethod.Post,
                    new
                        {
                            enctype = "multipart/form-data",
                            id = "form-pass",
                            name = "form-pass"
                        }))
            {

                <div class="containelement">
                    <input type="password" id="txtpass" name="txtpass" class="inputtext" placeholder="Mật khẩu mới" />
                    <input type="hidden" id="hftoken" name="hftoken" value="@ViewBag.token" />
                </div>
                <div class="containelement">
                    <input type="password" id="txtpassmoi" name="txtpassmoi" class="inputtext" placeholder="Xác nhận mật khẩu" />
                </div>
                <div class="containelement">
                    <input type="button" class="input submit" onclick="validatePasswordForgetPassword('txtpass', 'txtpassmoi');" />
                </div>
                <div class="containelement">
                    <span id="spanmsgforget" style="color: red;"></span>
                </div>
            }
        </div>

        <div class="contentloginform">
            @using (Html.BeginForm("CreatePasswordComplete", "Common", FormMethod.Post,
                    new
                    {
                        enctype = "multipart/form-data",
                        id = "form-pass",
                        name = "form-pass"
                    }))
            {
                <div class="containelement">
                    <input type="text" placeholder="Mật khẩu mới" class="inputtext" id="txtpass1" />
                    <input type="hidden" id="hftoken" name="hftoken" value="@ViewBag.token" />
                </div>
                <div class="containelement">
                    <input type="password" placeholder="Xác nhận mật khẩu" class="inputtext" id="txtpass2" />
                </div>
                <div class="buttonlogin">
                    <input type="button" id="btnLogin" class="btn" value="ĐỔI PASSWORD" onclick="validatePasswordForgetPassword('txtpass1', 'txtpass2');" />
                </div>
            }
        </div>
    </div>
</div>
