<div id="ftv2">
    <div class="ftadd container align-center clearfix">
        <div class="copyright">
            © 2013. Công ty cổ phần Thế Giới Di Động. GPĐKKD số 41020980 so Sở KHĐT Tp.HCM cấp ngày 25/03/2004<br />
            Địa chỉ VP: Lầu 5 Etown 2, 364 Cộng Hòa, Q.Tân Bình, TP.Hồ Chí Minh. <a href="http://www.thegioididong.com/tos">Chính sách bảo mật</a> | <a href="http://www.thegioididong.com/tos">Điều khoản sử dụng</a>
        </div>
        <div class="payment">
            <span>Thanh toán an toàn với</span>
            <a href="http://www.thegioididong.com/thanh-toan" title="Tiền mặt" class="tienmat"></a>
            <a href="http://www.thegioididong.com/thanh-toan" title="Chuyển khoản" class="chuyenkhoan"></a>
            <a href="http://www.thegioididong.com/thanh-toan" title="Internet Banking" class="internetbanking"></a>
            <a href="http://www.thegioididong.com/thanh-toan" title="Thẻ ATM nội địa" class="theatm"></a>
            <a href="http://www.thegioididong.com/thanh-toan" title="Thẻ VISA" class="visa"></a>
            <a href="http://www.thegioididong.com/thanh-toan" title="Thẻ Master" class="mastercard"></a>
        </div>
    </div>
</div>

