@{
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
@section META_INC
{
    <title>@Html.Raw(ViewBag.titlePage)</title>
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
}

@section CSS_INC
{
      <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.css" />
}
@section JS_INC
{
    <script src="~/Scripts/jquery.newshome.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="~/Scripts/NewsDetail.min.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
    <script src="~/Scripts/LoginUser.min.js?v=@(cms.business.ConfigHelper.StaticContentVersion())"></script>
}
<div id="fb-root"></div>

<input type="hidden" value="215" id="hfCatID" />

<div class="main-left-wrapper" style="vertical-align: bottom; width: 50%;">
    <div class="containpresentpage">
        <div class="title">Kết nối với cộng đồng công nghệ số 1 Việt Nam với hơn @ViewBag.CountForumMember thành viên năng động.</div>
        <div class="containsubpresent">
            <div class="present">
                <div class="iconworld"></div>
                <div class="titlepresent">Tham gia cộng đồng tư vấn, chia sẻ công nghệ</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="icontakepic"></div>
                <div class="titlepresent">Chia sẻ hình ảnh, cảm nhận, trải nghiệm bản thân</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="iconnewsnew"></div>
                <div class="titlepresent">Cập nhật nhanh công nghệ mới</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="icontransport"></div>
                <div class="titlepresent">Theo dõi đơn hàng</div>
            </div>
            <div class="clearfix"></div>
            <div class="present">
                <div class="iconpointsbonus"></div>
                <div class="titlepresent">Tích lũy điểm thưởng</div>
            </div>
        </div>
    </div>
</div>
<div class="main-right-wrapper" style="vertical-align: bottom; width: 40%;">
    <div class="loginform">
        <div class="titleLogin">Quên mật khẩu</div>
        <div class="contentloginform">
            <div class="containelement">
                <div class="containexplain">
                    Để cập nhật tài khoản của mình trên hệ thống thegioididong.com và dienmay.com, vui lòng soạn tin nhắn với nội dung sau:<br />
                    <strong>PW [Mật khẩu mới]</strong> gửi <strong>1900561292</strong><br />
                    Ví dụ: PW 12345 gửi 1900561292<br />
                    Hoặc nhập email vào bên dưới để nhận mã cập nhật:
                </div>
            </div>
            <div class="containelement">
                <input type="text" placeholder="Nhập Email của bạn" id="txtEmailGetPass" class="inputtext" onkeypress="CheckGetPasswordByEmail(event);" />
            </div>
            <div class="buttonlogin">
                <input type="button" id="btnGetPassword" class="btn" value="LẤY LẠI MẬT KHẨU" onclick="GetPasswordByEmail()" />
            </div>
            <div class="other">
                <div class="forgetpasss">
                    <a href="/cong-tac-vien">Về trang đăng nhập</a>
                </div>
                <div class="signup">
                    Bạn chưa có tài khoản? <a href="/cong-tac-vien/dang-ky">Tạo tài khoản ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
 