@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section INC_META
{
    <title>@Html.Raw(ViewBag.titlePage)</title>
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
}
<h2>Index</h2>
